:root {
  --first-color: #9c69e2;
  --second-color: #f063b8;
  --third-color: #68c9ba;
  --green: rgb(149, 201, 136);
  --light-bg-color: #f063b859;
  --black: rgb(95, 95, 95);
  --title-font: "Baloo 2";
  --text-font: "Red Hat Display";
}

h1 {
  font-family: var(--title-font);
}
h2 {
  font-family: var(--title-font);
}
body {
  font-family: var(--text-font);
  color: var(--black);
}

button:hover {
  cursor: pointer;
}

button {
  font-family: "Red Hat Display";
}

a {
  text-decoration: none;
}
