.dashboard {
  margin-left: 5%;
  margin-right: 5%;
}
.dashboard_info {
  font-size: xx-large;
  padding-bottom: 5%;
  color: var(--second-color);
}
.select_desktop {
  display: none;
}
.head_dashboard {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nursery_container {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
}
.nursery_container li {
  list-style-type: none;
}
.date {
  color: white;
  background-color: #9c69e2;
  padding-left: 5%;
  padding: 2%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
}
.date img {
  height: 15px;
  margin-right: 1em;
}
.clock_img {
  margin-left: 0.5em;
}
.image_nursery_dashboard {
  width: 200px;
  height: 150px;
  object-fit: cover;
}
.nursery_all_info {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
}

.nursery_all_info ul {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}
.nursery_all_info h5 {
  margin: 0;
}
.nursery_info {
  display: flex;
  align-items: start;
  padding-left: 3%;
  list-style: none;
  margin-top: 1em;
}
.booking_state {
  font-style: italic;
}
.custom_select {
  background-color: white;
  border-color: #9c69e2;
  border-radius: 1em;
  padding: 2%;
  width: 60%;
  margin: auto;
  text-align: center;
  margin-left: 20%;
}
.info {
  display: flex;
  justify-content: center;
  color: #9c69e2;
}

.general_parent {
  width: 80vw;
  margin-bottom: 5%;
  list-style: none;
}
.parent_info {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.name_parent_dashboard {
  font-weight: bold;
}
.modify_info {
  list-style: none;
  color: var(--first-color);
}
#title_informations {
  margin-top: 2em;
}
.title {
  color: #9c69e2;
  font-size: x-large;
  margin: 2em 0;
}
.child {
  margin-top: 4%;
}

.children_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.child_info {
  display: flex;
  background-color: #9c69e2;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  color: #f5f5f5;
  list-style: none;
}
.child_info_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.child_presentation {
  background-color: #f5f5f5;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 8%;
  justify-content: center;
  border-radius: 1.5em;
}
.child_presentation .modify_info {
  display: flex;
  align-items: end;
}
.modify_info li {
  list-style-type: none;
}
.select_state {
  color: var(--third-color);
  margin-top: 2em;
  font-weight: bolder;
  margin: 2em auto;
  text-align: center;
}

.dashboard h4 {
  display: flex;
  align-items: center;
  padding-left: 2em;
  color: #9c69e2;
  border: 1px solid;
  padding: 2%;
  padding-right: 20%;
  font-size: 1.3em;
  border-radius: 0.5em;
  width: 200px;
  margin: 0;
}

.change_info_pen {
  background-color: transparent;
  border: none;
}
.change_info_pen img {
  height: 20px;
  width: 20px;
}
.change_info_password {
  background-color: transparent;
  border: none;
  color: var(--first-color);
  font-weight: bolder;
  border-radius: 25px;
  margin: 0.5em 0;
  padding: 0;
}

.hide_pen {
  display: none;
}

.modify_info_parent {
  background-color: var(--first-color);
  color: white;
  border-radius: 25px;
  border: none;
  padding: 1em;
}
#cancel_modify_parent {
  background-color: var(--second-color);
}

/* formulaire changements informations */

.modify_informations_form {
  border: 2px solid var(--first-color);
  border-radius: 25px;
  text-align: center;
  background-color: #efe4fe;
}

.modify_informations_form input {
  border-radius: 20px;
  border: 2px solid var(--first-color);
  padding: 0.5em;
  width: 80%;
}

.modify_informations_form button {
  background-color: var(--first-color);
  color: white;
  border-radius: 25px;
  border: none;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.modif_submit {
  color: var(--second-color);
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
}
/* formulaire enfant */
.child_add_form {
  margin: 1em auto;
  background-color: #f5f5f5;
}
.add_child_title {
  color: var(--first-color);
  text-align: center;
  padding-top: 1em;
}

.p_child_form {
  text-align: center;
}
.form_add_child {
  margin: 0.5em;
}
.form_add_child input {
  border-radius: 10px;
  width: 90%;
  padding: 0.5em;
  border: 1px solid grey;
}
.info_add_child {
  text-align: center;
  padding: 2em;
}
.container_buttons_add_child {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1em;
}

.container_buttons_add_child button {
  border: 0;
}
.clean_status {
  padding-top: 1em;
}

.add_button_child {
  background-color: var(--first-color);
  color: white;
  border-radius: 25px;
  padding: 1em;
  font-weight: bold;
}
.cancel_button_child {
  background-color: transparent;
  color: var(--first-color);
}
@media screen and (min-width: 990px) {
  .select_mobile {
    display: none;
  }
  .head_dashboard {
    align-items: flex-start;
    margin-top: 8%;
  }
  .dashboard h4 {
    display: flex;
    align-items: center;
    padding-left: 2em;
    color: #9c69e2;
    border: 1px solid;
    padding: 2%;
    padding-right: 20%;
    font-size: 1.3em;
    border-radius: 0.5em;
  }
  .select_desktop {
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
  }
  .select_desktop:hover {
    cursor: pointer;
  }
  .select_desktop button {
    all: unset;
    padding: 1em;
  }
  .select_desktop button.active {
    background-color: var(--first-color);
    color: white;
    border-radius: 25px 25px 25px 25px;
  }
  .select_desktop button:hover {
    background-color: #ebd5fe;
    color: var(--black);
    border-radius: 25px 25px 25px 25px;
  }
  .all_nursery_container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    margin-bottom: 7%;
    margin-left: 8%;
  }
  .nursery_container {
    width: 40%;
    max-width: 350px;
    margin-right: 2%;
    margin-left: 2%;
  }
  .child_presentation {
    width: 70%;
    margin: 1em auto;
  }
  .info_container {
    display: flex;
    align-items: center;
    padding-left: 2em;
    color: #9c69e2;
    border: 1px solid;
    padding: 2%;
    padding-right: 20%;
    font-size: 1.3em;
    border-radius: 0.5em;
  }
  .modify_info li {
    margin-bottom: 5%;
  }
  .parent_info {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 8%;
  }
  .parent {
    display: flex;
  }
  .general_parent {
    margin-top: -8%;
    margin-bottom: 5%;
  }

  .child {
    display: flex;
  }
  .child_info {
    width: 150px;
    height: 150px;
    font-size: large;
  }
  .children {
    width: 70%;
  }
  .image_nursery_dashboard {
    width: 200px;
    object-fit: cover;
  }
  .parent_all_info {
    width: 50%;
    justify-content: start;
    align-items: start;
  }
  .title {
    padding-top: 0px;
    margin-top: 1em;
  }
  .user_info {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .children-container {
    display: flex;
    margin-top: 10%;
    margin-left: -10%;
  }

  .change_info_password {
    width: 200px;
    text-align: left;
  }

  .hide_pen {
    display: none;
  }

  .modify_info_parent {
    background-color: var(--first-color);
    color: white;
    border-radius: 25px;
    border: none;
    padding: 1em;
    width: 200px;
  }
  #cancel_modify_parent {
    background-color: var(--second-color);
  }

  /* formulaire changements informations */

  .modify_informations_form {
    display: flex;
    flex-direction: column;
    border: none;
    text-align: center;
    background-color: #efe4fe;
    width: 50%;
    margin-top: -10%;
    margin-left: 30%;
  }

  .modify_informations_form input {
    margin-top: 0.2em;
    width: 40%;
  }

  .modify_informations_form button {
    margin-left: 1em;
  }
  .parent_info {
    margin-top: 2em;
  }

  .general_parent {
    display: flex;
  }

  /* formulaire enfant */
  .child_add_form {
    width: 70%;
  }

  .add_button_child {
    font-size: 1em;
  }

  .child_add_form form {
    margin-left: 5%;
  }
  .new_entry_child {
    margin-top: 1em;
  }
}
