.form_child_page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: 7em;
}

.info_child {
  width: 550px;
}

/* decorative image */
.form-child-page img {
  width: 40%;
  height: 100vh;
  object-fit: cover;
}

/* whole form */
.child_form_P1 form {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  width: 100%;
}

/* titles */
.child_form_P1 h2 {
  text-align: center;
  color: var(--first-color);
  margin-bottom: 2em;
}

.name_lastname {
  margin-bottom: -1em;
}

/* inputs */
.input_child_form {
  width: 500px;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 1em;
}

.date_of_birth {
  width: 105px;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 1em;
  margin-bottom: 2em;
}

/* boxes */
.check_box_container_register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 20vh;
  gap: 1em;
  margin-left: 5vw;
  margin-top: 1em;
  margin-bottom: 1em;
}

.check_box_container_register2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 20vh;
  gap: 1em;
  margin-left: 5vw;
  margin-top: 0.5em;
  margin-bottom: -12em;
}

.check_box_yes_no {
  display: flex;
  margin-left: 5vw;
  gap: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.yes_no {
  margin-top: 4em;
}

.check_box_container_register input {
  margin-right: 1em;
}

.img_child_flex {
  background-color: #9c69e2;
  margin-top: 1em;
}

.img_child_form {
  margin-bottom: 16.5em;
  margin-top: 16.5em;
}

/* boutton retour-suivant */
.next_btn_child {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #7e72f2;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 20em;
}

#submit_btn_child {
  padding: 10px 20px;
}

.return_btn_h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6em 0 2em 0;
}

.child_name {
  color: #7e72f2;
}

.back-arrow {
  display: inline-block;
  cursor: pointer;
  font-size: 24px;
  border: none;
  background: none;
  color: #7e72f2;
  margin-right: 1em;
}

.navigation_flex_child {
  display: flex;
  margin-top: -6em;
  align-items: baseline;
  margin-left: 0;
}

@media screen and (max-width: 990px) {
  .form_child_page img {
    display: none;
  }

  .info_child {
    width: 353px;
  }

  .child_form_P1 h2 {
    text-align: center;
    color: var(--first-color);
    margin-bottom: 1em;
    margin-right: -1em;
  }

  .child_form_P1 form {
    margin-left: 1em;
  }

  .input_child_form {
    width: 87vw;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid grey;
    margin-top: 1em;
  }

  .date_of_birth {
    width: 105px;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid grey;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .check_box_container_register2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 20vh;
    gap: 1em;
    margin-left: 0vw;
    margin-top: 1em;
    margin-bottom: -11em;
  }

  .check_box_container_register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    gap: 1em;
    margin: 0;
  }

  .check_box_yes_no {
    margin-left: 0;
  }

  .yes_no {
    margin-top: 4em;
    margin-bottom: 1em;
  }

  /* boutton retour-suivant */
  .navigation_flex_child {
    align-items: baseline;
    margin-left: -1.5em;
  }

  .return_btn_h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6em 0 2em 1em;
  }

  .next_btn_child {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #7e72f2;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10em;
  }

  #submit_btn_child {
    padding: 10px 20px;
  }
}
