.babyplace_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  text-align: center;
}
.babyplace_text h1 {
  font-size: 3em;
  margin-bottom: 1.5em;
  letter-spacing: 2px;
  color: var(--first-color);
}

.babyplace_text p {
  margin-bottom: 2em;
  font-size: 1em;
  color: rgb(95, 95, 95);
  width: 80%;
}
.bold_text {
  font-weight: bold;
}
.para_babyplace {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.babyplace_img {
  width: 20em;
}

@media screen and (min-width: 990px) {
  .babyplace_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .para_babyplace {
    display: block;
  }
  .babyplace_text {
    margin-left: 10em;
  }
  .babyplace_img {
    width: 40%;
    margin-top: 8em;
    margin-right: 4em;
  }

  .babyplace_text p {
    width: 80%;
    font-size: 1.2em;
  }

  .babyplace_text h1 {
    font-size: 8em;
    margin-bottom: 0;
  }
}
