.message_pro_dashboard {
  display: flex;
  background-color: #fde8f4;
  flex-direction: column;
  align-items: center;
  width: 90%;
  text-align: center;
  border-radius: 1em;
  padding: 3%;
  margin-top: 4em;
}
.message_pro_container {
  display: flex;
  justify-content: center;
}
.info_pro {
  display: flex;
  justify-content: center;
  color: #9c69e2;
}
.info_container_pro {
  display: flex;
  background-color: white;
  border: solid 1px #9c69e2;
  justify-content: center;
  width: 200px;
  border-radius: 0.5em;
  padding: 3%;
  margin: 1em auto;
}
.creche_info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.creche_adress {
  display: flex;
  flex-direction: row;
  row-gap: 12px;
  padding-bottom: 3%;
}
.creche_number {
  padding-bottom: 2%;
}
.creche_mail {
  padding-bottom: 2%;
}
.creche_location p {
  margin: 0 1em;
}
.creche_name {
  color: #9c69e2;
  padding-bottom: 4%;
  margin: 0 1em;
}
.reservation {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.reservation_card {
  display: flex;
  background-color: #f5f5f5;
  width: 80%;
  border-radius: 1em;
  padding: 3%;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 3%;
}
.reservation_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #9c69e2;
  padding: 3%;
}
.reservation_date {
  display: flex;
  justify-content: flex-start;
}
.avatar_dashboard_pro {
  width: 17%;
}

/* Calender */
.day_dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: bold;
  margin-top: 0;
  padding: 1em;
}

.half_day_dashboard {
  background-color: lightgray;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1em;
}
.half_day_dashboard button {
  border: 4px solid white;
  border-radius: 50px;
  background-color: white;
  font-size: 2em;
  height: 50px;
  width: 50px;
}
.week_dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f0eafb;
  padding: 2em 0 2em 0;
}
.week_gestion_dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--first-color);
}
.week_gestion_dashboard button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2em;
  padding: 0 1em 0em 1em;
  margin: 0 1em 0 1em;
}

/* forms calender */

.form_calender_dashboard {
  position: absolute;
  background-color: white;
  border: 2px solid var(--first-color);
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 270%;
  text-align: center;
  margin: auto;
  margin-top: 1em;
  border-radius: 50px;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 2;
}
.date_form_dashboard {
  font-weight: bold;
}
.form_calender_dashboard button {
  background-color: var(--first-color);
  border: none;
  font-weight: bold;
  color: white;
  padding: 1em 2em 1em 2em;
  border-radius: 25px;
}
.form_calender_dashboard input {
  border-radius: 25px;
  border: 1px solid var(--first-color);
  padding: 1em;
}
.form_calender_dashboard form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title_form_calender {
  color: var(--first-color);
  font-weight: bold;
}
.week_gestion_dashboard h3 {
  font-size: 1em;
  text-align: center;
}

.button_suppress {
  background-color: rgb(241, 94, 94);
  color: white;
  border-radius: 25px;
  border: none;
}

.available_slots_dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  gap: 1em;
  margin-top: 1em;
  padding: 0.5em;
}
.profile_pictures_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#profile_picture_2,
#profile_picture_3 {
  display: none;
}
.modify_info {
  padding: 1em;
}
.profile_picture {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  margin: 1em auto;
  border: 2px solid var(--second-color);
  object-fit: cover;
}

.type_booking {
  color: var(--second-color);
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
/* réservations en attente */

.informations_title_child {
  margin-top: 1em;
  color: var(--first-color);
}

.informations_lines_child {
  font-size: 0.9em;
}

.buttons_container_pending {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.5em;
  background-color: #f5f5f5;
  padding-bottom: 0.5em;
}

.buttons_container_pending button {
  border: none;
}

.accept_button_pending {
  background-color: var(--second-color);
  color: white;
  padding: 1em;
  border-radius: 25px;
}

.cancel_button_pending {
  color: var(--second-color);
  font-weight: bold;
  background-color: transparent;
}

/* message de confirmation */

.choice_confirmation_pending {
  text-align: center;
  padding-top: 1em;
}

.choice_confirmation_pending button {
  border: none;
}
.container_commit_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
}
.commit_button_pending {
  background-color: var(--first-color);
  color: white;
  padding: 1em;
  border-radius: 25px;
}
.back_button_pending {
  color: var(--first-color);
  background-color: transparent;
  font-weight: bold;
}
.choice_made {
  color: var(--first-color);
  font-weight: bolder;
  margin: 0.5em;
}

.final_message {
  color: var(--third-color);
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.5em;
  background-color: #f5f5f5;
}

/* modifier les informations */
.modify_info_button {
  background-color: transparent;
  color: var(--first-color);
  text-decoration: underline;
  border: none;
  font-weight: bolder;
}
.one_line_contact {
  display: flex;
}
#cancel_button_form_pro {
  background-color: transparent;
  color: var(--second-color);
  font-weight: bold;
}
.available_booking_msg {
  padding-bottom: 1em;
  font-style: italic;
}
@media screen and (min-width: 990px) {
  .select_mobile {
    display: none;
  }

  .message_pro_container {
    margin-top: 10%;
  }
  .message_pro_dashboard {
    width: 70%;
    margin-top: 0;
    margin-bottom: 2em;
  }
  #profile_picture_2,
  #profile_picture_3 {
    display: initial;
  }
  .profile_picture {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    margin: 0;
    border: 2px solid var(--first-color);
  }
  .profile_pictures_container {
    gap: 1em;
  }

  .creche_name {
    font-size: 2em;
    display: flex;
    margin: 1em 2em;
    padding: 0;
  }
  .info_container_pro {
    width: 23%;
    font-size: 1.1em;
    padding: 5px;
    margin: 3% 4%;
    padding-left: 4%;
    justify-content: flex-start;
    background-color: #9c69e2;
  }
  .creche_info {
    display: flex;
    column-gap: 40%;
    margin-left: 4%;
  }
  .creche_adress {
    flex-direction: column;
    margin: 0;
    padding-bottom: 10px;
  }
  .creche_contact {
    padding-bottom: 0%;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .modify_info li {
    margin: 0;
  }
  .creche_number {
    padding-bottom: 0%;
  }
  .creche_mail {
    padding-bottom: 0%;
  }
  .modify_info {
    display: flex;
    flex-direction: column;
    row-gap: 30%;
  }

  .avatar_dashboard_pro {
    width: 13%;
    padding-left: 4%;
  }
  .reservation_card {
    flex-direction: row;
    align-items: center;
    width: 25%;
    padding: 0%;
  }
  .reservation {
    margin-left: 4%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    column-gap: 4%;
    justify-content: center;
  }
  .reservation_info {
    font-size: 1em;
  }
  .reservation_date {
    margin-top: 4%;
    color: #9c69e2;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
  }

  .statut_reservation {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    writing-mode: vertical-rl;
    transform: scaleX(-1) scaleY(-1);
    background-color: #ade269;
    height: 11%;
    text-align: center;
  }
  .info_pro {
    color: #f5f5f5;
  }
  /* Calender */
  .day_dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1em;
    padding: 0;
  }

  .half_day_dashboard {
    background-color: transparent;
    width: 200px;
    height: 50px;
    border-radius: 25px;

    margin-top: 1em;
  }
  .half_day_dashboard button {
    border: 4px solid white;
    border-radius: 50px;
    background-color: white;
    font-size: 2em;
    height: 50px;
    width: 50px;
  }
  .week_dashboard {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    background-color: #f0eafb;
    padding: 1em;
  }
  .week_gestion_dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--first-color);
  }
  .week_gestion_dashboard button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1em;
    padding: 0 1em 0em 1em;
    margin: 0 1em 0 1em;
  }

  /* forms calender */

  .form_calender_dashboard {
    position: absolute;
    background-color: white;
    border: 2px solid var(--first-color);
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 170%;
    margin: auto;
    margin-top: 1em;
    border-radius: 50px;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .date_form_dashboard {
    font-weight: bold;
  }
  .form_calender_dashboard button {
    background-color: var(--first-color);
    border: none;
    font-weight: bold;
    color: white;
    padding: 1em 2em 1em 2em;
    border-radius: 25px;
  }
  .form_calender_dashboard input {
    border-radius: 25px;
    border: 1px solid var(--first-color);
    padding: 1em;
  }
  .form_definition {
    text-align: center;
  }
  .form_calender_dashboard form {
    display: flex;
    justify-content: center;
  }
  .title_form_calender {
    color: var(--first-color);
    font-weight: bold;
  }

  .button_suppress {
    background-color: rgb(241, 94, 94);
    color: white;
    border-radius: 25px;
    border: none;
  }

  .available_slots_dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 1em;
    gap: 1em;
  }
  .custom_select {
    display: none;
  }
  #pro_modify {
    margin-left: 40em;
  }
  #pro_submit {
    margin-left: 50em;
  }
}
