.accueil_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8em;
  font-size: 0.7em;
  margin-bottom: 5em;
}

.accueil_text h1 {
  color: black;
}

.accueil_text p {
  font-size: 1.3em;
  text-align: center;
  margin-top: 1em;
}

.accueil_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.responsive-image {
  width: 50%;
  margin: 5px;
  margin-bottom: 3em;
}

.image_contenair {
  display: flex;
  /* justify-content: center; */
}

.accueil_image img:nth-child(1),
.accueil_image img:nth-child(3) {
  margin-right: 10em;
}

.accueil_image img:nth-child(2) {
  margin-top: 1em;
}

.forimages_container {
  display: flex;
  justify-content: center;
}

.forimages_container img {
  width: 80%;
}
