.the_header {
  position: fixed;
  padding: 1%;
  z-index: 9999999;
  top: 0%;
  display: flex;
  width: 100%;
  background-color: white;
  padding: 0.5em;
}

#logo_header {
  width: 60%;
  margin-left: 1em;
}
.header_search_and_nav {
  display: none;
}
@media screen and (min-width: 990px) {
  .header_search_and_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  #logo_header {
    margin-top: 0.5em;
  }

  .input_reasearch {
    width: 300px;
    display: initial;
    height: 3em;
    border-radius: 2em;
    border: 2px solid var(--first-color);
    text-align: left;
    padding: 1em;
    align-items: center;
    font-size: 0.5em;
    font-size: 1em;
    color: var(--first-color);
  }
  #loop_header {
    position: absolute;
    right: 26%;
    z-index: 1;
  }
  .the_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40%;
    align-items: center;
  }

  .button_header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--first-color);
    height: 3em;
    width: 150px;
    border-style: none;
    text-align: right;
    color: white;
    border-radius: 2em;
    border-style: none;
    text-decoration: none;
    padding-left: 1em;
    font-weight: bold;
  }
  .button_header:hover {
    background-color: var(--second-color);
  }
  #go_header {
    width: 2em;
    margin-left: 4em;
  }
}
