@media screen and (max-width: 992px) {
  .function_map {
    display: none;
  }

  .small_picture {
    display: none;
  }

  .return_btn_h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0 2em 0;
  }

  .back-arrow {
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    border: none;
    background: none;
    color: #f063b8;
    margin-right: 1em;
  }

  .nursery_name {
    color: #f063b8;
  }

  .img_nursery {
    width: 90%;
    border-radius: 20px 20px 0 0;
  }

  .img_container {
    display: flex;
    justify-content: center;
  }

  .color_h2 {
    color: #1d0042;
    padding: 1em 0 1em 2em;
  }

  .presentation {
    text-align: center;
    line-height: 1.4em;
    margin: 0 1.4em 0 1.4em;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 1.4em 0 1.4em;
    background-color: #e8e0fe;
    height: 100px;
  }

  .info_img {
    width: 24px;
    margin: 0 1em 0 5em;
  }

  .info_text {
    color: #616167;
  }

  .information {
    display: flex;
  }

  .information:nth-of-type(1),
  .information:nth-of-type(2) {
    margin-bottom: 1em;
  }

  .rate {
    margin-top: 2em;
    margin-left: 3em;
  }

  .time_slot {
    display: none;
    background-color: grey;
    height: 10px;
  }
}

@media screen and (min-width: 993px) {
  .return_btn_h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6em 0 2em 0;
  }

  .back-arrow {
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    border: none;
    background: none;
    color: #f063b8;
    margin-right: 1em;
  }

  .nursery_name {
    color: #f063b8;
  }

  .img_nursery {
    width: 60%;
    height: 516px;
    margin-right: 1em;
  }

  .small_picture {
    display: flex;
    flex-direction: column;
  }

  .small_picture .img_detail:first-of-type {
    margin-bottom: 1em;
  }

  .img_detail {
    width: 375px;
  }

  .img_container {
    display: flex;
    justify-content: center;
  }

  .color_h2 {
    color: #1d0042;
    padding: 1em 0 1em 8em;
  }

  .presentation {
    line-height: 1.4em;
    margin: 0 4.5em 1em 5.4em;
  }

  .contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 23.2em 0 0 38.3em;
    font-size: 20px;
    position: absolute;

    height: 100px;
  }

  .map_display {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .function_map {
    width: 40%;
    margin-right: 5.5em;
  }

  .info_img {
    width: 24px;
    margin: 0 1em 0 5em;
  }

  .info_text {
    color: #616167;
  }

  .information {
    display: flex;
    margin-left: 10em;
  }

  .information:nth-of-type(1),
  .information:nth-of-type(2) {
    margin-bottom: 1em;
  }

  .rate {
    margin-top: 2.2em;
    margin-left: 47.9em;
  }

  .time_slot {
    display: none;
    background-color: grey;
    height: 10px;
  }
}
