@media screen and (max-width: 992px) {
  .function_map {
    display: none;
  }

  .small_picture {
    display: none;
  }

  .return_btn_h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0 2em 0;
  }

  .back_arrow {
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    border: none;
    background: none;
    color: #f063b8;
    margin-right: 1em;
  }

  .nursery_name {
    color: #f063b8;
  }

  .img_nursery {
    width: 90%;
    border-radius: 20px 20px 0 0;
  }

  .img_container {
    display: flex;
    justify-content: center;
  }

  .color_h2 {
    color: #1d0042;
    padding: 1em 0 1em 2em;
  }

  .presentation {
    text-align: center;
    line-height: 1.4em;
    margin: 0 1.4em 0 1.4em;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 1.4em 0 1.4em;
    background-color: #e8e0fe;
    height: 100px;
  }

  .info_img {
    width: 24px;
    margin: 0 1em 0 5em;
  }

  .info_text {
    color: #616167;
    margin: 0;
  }

  .information {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 3em;
    gap: 1em;
  }

  .information:nth-of-type(1),
  .information:nth-of-type(2) {
    margin-bottom: 1em;
  }

  .rate {
    margin-top: 4em;
    margin-left: 3em;
    color: #f063b8;
  }

  .time_slot {
    display: none;
    background-color: grey;
    height: 10px;
  }
  .slot {
    background-color: var(--green);
    border-radius: 25px;
    color: white;
    padding: 1em;
    width: 200px;
    text-align: center;
    margin-top: 1em;
    border: none;
    font-weight: bold;
  }

  .no_slot {
    background-color: rgb(206, 198, 198);
    border-radius: 25px;
    color: white;
    padding: 1em;
    font-weight: lighter;
    margin-top: 1em;
  }

  /* form */
  .form_calender_mini {
    border: 2px solid var(--first-color);
    width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    padding-top: 1em;
    background-color: white;
    margin-top: 1em;
  }
  .form_definition_details {
    margin: 1em;
  }
  .form_calender_mini select {
    border: 2px solid var(--first-color);
    border-radius: 25px;
    padding: 0.5em;
  }
  .confirm_button_details {
    background-color: var(--first-color);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 0.5em;
  }
  .cancel_button_details {
    background-color: transparent;
    color: var(--first-color);
    border: none;
    border-radius: 25px;
  }
  .day_dashboard_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 0;
    padding: 1em;
  }
  .buttons_group_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    gap: 0.5em;
    margin-bottom: 1em;
  }
  .confirmation_message_details {
    background-color: rgb(234, 250, 235);
    width: 90%;
    padding: 0.5em;
    border-radius: 25px;
    text-align: center;
    margin: 1em auto;
  }

  .demande_accepted {
    color: var(--first-color);
    font-weight: bold;
  }
}

@media screen and (min-width: 993px) {
  .return_btn_h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6em 0 2em 0;
  }

  .back_arrow {
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    border: none;
    background: none;
    color: #f063b8;
    margin-right: 1em;
  }

  .nursery_name {
    color: #f063b8;
  }

  .img_nursery {
    width: 60%;
    height: 516px;
    margin-right: 1em;
  }

  .small_picture {
    display: flex;
    flex-direction: column;
  }

  .small_picture .img_detail:first-of-type {
    margin-bottom: 1em;
  }

  .img_detail {
    width: 375px;
    height: 250px;
    object-fit: cover;
  }

  .img_container {
    display: flex;
    justify-content: center;
  }

  .color_h2 {
    color: #1d0042;
    padding: 1em 0 1em 8em;
  }

  .presentation {
    line-height: 1.4em;
    margin: 0 4.5em 1em 5.4em;
  }

  .info_map_flex {
    display: flex;
    flex-direction: column-reverse;
  }

  .map_contact_flex {
    display: flex;
    flex-direction: row-reverse;
  }

  .contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    position: absolute;
    height: 100px;
    margin-top: -4em;
    margin-right: 19%;
  }

  .info_flex {
    display: flex;
    flex-direction: column;
  }

  .function_map {
    width: 40%;
    margin-right: 5.5em;
    position: absolute;
    padding-bottom: 4em;
    margin-top: -30em;
  }

  .info_img {
    width: 24px;
    margin: 0 1em 0 5em;
  }

  .info_text {
    color: #616167;
    margin: 0;
    margin-left: 1em;
  }

  .information {
    display: flex;
    margin-left: 10em;
    align-items: center;
  }

  .information:nth-of-type(1),
  .information:nth-of-type(2) {
    margin-bottom: 1em;
  }

  .rate {
    margin-top: 5em;
    margin-left: 10em;
    color: #f063b8;
  }
  .no_slot {
    margin-top: 0;
  }
  .slot {
    background-color: var(--green);
    border-radius: 25px;
    color: white;
    padding: 1em;
    width: 200px;
    margin-top: 1.5em;
    text-align: center;

    border: none;
    font-weight: bold;
  }

  .no_slot {
    background-color: rgb(206, 198, 198);
    border-radius: 25px;
    color: white;
    padding: 1em;
    font-weight: lighter;
    margin-top: 1em;
  }
  .day_dashboard_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 0;
    padding: 1em;
  }
  /* form */
  .form_calender_mini {
    border: 2px solid var(--first-color);
    width: 40%;

    text-align: center;
    border-radius: 25px;
    padding-top: 1em;
    top: 10%;
    background-color: white;
    margin: 1em auto;
  }
  .form_definition_details {
    margin: 1em;
  }
  .form_calender_mini select {
    border: 2px solid var(--first-color);
    border-radius: 25px;
    padding: 1em;
  }
  .confirm_button_details {
    background-color: var(--first-color);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 1em;
  }
  .cancel_button_details {
    background-color: transparent;
    color: var(--first-color);
    border: none;
    border-radius: 25px;
  }

  .buttons_group_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    gap: 0.5em;
    margin-bottom: 1em;
  }
  .confirmation_message_details {
    background-color: rgb(234, 250, 235);
    width: 60%;
    padding: 1em;
    border-radius: 25px;
    text-align: center;
    margin: 1em auto;
  }

  .demande_accepted {
    color: var(--first-color);
    font-weight: bold;
  }
}
