/* whole page */

.form_nursery_page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* deocrative image */
.nursery_form_img {
  width: 700px;
  height: 1800px;
  object-fit: cover;
}
/* whole form */

.nursery_form_P1 form {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  width: 100%;
}
.validate_button_nursery_form {
  background-color: var(--second-color);
  border-radius: 28px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 16px 31px;
  font-size: 1.5em;
  text-decoration: none;
  margin-left: 320px;
  margin-top: 1em;
}
/* titles */
.nursery_title_form {
  text-align: center;
  color: var(--first-color);
  margin-top: 2em;
  font-size: 3em;
}

.nursery_subtitles_form {
  font-weight: bolder;
  font-size: 1.2em;
}

.nursery_form_P1 h4 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* inputs */

.input_not_filled {
  border: 2px solid rgb(205, 56, 56);
  width: 500px;
  padding: 0.5em;
  border-radius: 10px;
  margin-top: 1em;
  background-color: rgb(251, 234, 234);
}

.red_input_number {
  color: red;
  font-weight: bold;
}
.input_nursery_form {
  width: 500px;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 1em;
}
.input_nursery_form_street_name {
  width: 200px;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 1em;
  margin-right: 1em;
}
.input_nursery_form_street_number {
  width: 30px;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 1em;
}

.input_nursery_form_street_number_red {
  width: 30px;
  padding: 0.5em;
  border-radius: 10px;
  border: 2px solid red;
  margin-top: 1em;
  background-color: rgb(251, 234, 234);
}
.street_number_register_nursery {
  margin-left: 1em;
}
.street_number_container {
  margin-right: 1em;
}
.red_text {
  color: red;
  font-weight: bold;
}

#error_msg {
  margin: 1em auto;
}
.images_input_container input[type="file"]::file-selector-button {
  border: none;
  background: var(--first-color);
  padding: 1em;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}

.images_input_container input[type="file"] {
  border: 2px solid var(--first-color);
  border-radius: 25px;
  padding-right: 5em;
  margin-left: 1em;
}
.images_input_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1em;
  margin-top: 1em;
}

/* boxes */
.box_choices_nursery_form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1em;
}
.box_choices_nursery_form input {
  margin: 1em;
}
.check_box_container_register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 20vh;
  gap: 1em;
  margin-left: 3vw;
  margin-top: 1em;
  margin-bottom: 1em;
}
.check_box_container_register input {
  margin-right: 1em;
}
/* select */
.select_street_register {
  border-radius: 1em;
  padding: 0.5em;
  width: 300px;
  margin-top: 1em;
  margin-left: 1em;
}

@media screen and (max-width: 990px) {
  .images_input_container input[type="file"] {
    margin-top: 1em;
  }
  .nursery_title_form {
    text-align: center;
    color: var(--first-color);
    margin-bottom: 0;
    margin-top: 2em;
    font-size: 3em;
  }
  .form_nursery_page img {
    display: none;
  }
  .nursery_form_P1 form {
    margin: 0;
    padding-left: 20px;
    width: 90%;
  }

  .input_nursery_form {
    margin: 0;
    width: 80vw;
    padding: 0.5em;
  }

  .input_not_filled {
    border: 2px solid rgb(205, 56, 56);
    margin: 0;
    width: 80vw;
    padding: 0.5em;
    background-color: rgb(251, 234, 234);
  }
  .check_box_container_register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    gap: 1em;
    margin-left: 30px;
  }

  .validate_button_nursery_form {
    margin-left: 30%;
    margin-top: 1em;
  }
}
